<div class="ui-g">
  <div class="ui-lg-12 ui-md-12">
     <form [formGroup]="directTvForm" (ngSubmit)="searchData(directTvForm)">
      <div class="ui-g-12 ui-lg-12">
          <h3>Please Select Search key</h3>
          <div class='ui-g'>
            <div class="ui-g-12 ui-md-12">
                <p-radioButton name="searchkey" formControlName="searchkey" [(ngModel)]="searchkeyradio" value="mobile"></p-radioButton>
                <p-inputMask formControlName="dtv_mobilenumber" size=25 mask="(+1) (999) 999-9999" placeholder="Mobile Number" required></p-inputMask>
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
                <p-radioButton name="searchkey" formControlName="searchkey" [(ngModel)]="searchkeyradio" value="email"></p-radioButton>
                <input formControlName="dtv_email" type="text" placeholder="Email" size=30 pInputText />
            </div>
          </div>
      </div>
      <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
          <h3>What Can I help you With?</h3>
          <p-radioButton name="helpwithapi" formControlName="helpwithapi" [(ngModel)]="helpapiradio" value="agreement" label="Your Agreement"
          inputId="agreement"></p-radioButton>
          <p-radioButton name="helpwithapi" formControlName="helpwithapi" [(ngModel)]="helpapiradio" value="profiledetails" label="Your Profile Details"
          inputId="profiledetails"></p-radioButton>
          <p-radioButton name="helpwithapi" formControlName="helpwithapi" [(ngModel)]="helpapiradio" value="accountdetails" label="Your Account Details"
          inputId="accountdetails"></p-radioButton>
      </div>
     <div class="ui-g-12">
        <button pButton type="submit" label="SEARCH"></button>
     </div> 
     </form>
  </div>

  <div class="ui-g">
      <div class="ui-g-12 ui-lg-12">
       <p-dataTable [value]="tableData" [responsive]="true">
          <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
       </p-dataTable>
     </div>
   </div> 